@charset "utf-8";

body {
    font-family: 'Poppins', 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    background-color: #fdfcf5;
    color: #1c1a10;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* 
    Utility classes 
*/

.flex {
    display: flex;
}

.flex-sb {
    justify-content: space-between;
}

.flex-center {
    align-items: center;
}

.grid {
    display: grid;
}

.grid-center {
    place-items: center;
}

.gap-50 {
    gap: 50px;
}

.gap-20 {
    gap: 20px;
}

.gap-10 {
    gap: 10px;
}

/* 
    Header 
*/

header {
    height: 60px;
    width: 100%;
    position: absolute;
    z-index: 10;
}

h1 {
    font-size: 26px;
    font-weight: 500;
    line-height: 60px;
}

nav ul li {
    line-height: 60px;
    list-style: none;
    cursor: default;
}

nav ul li a {
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
    color: #00e6ff;
}

/* 
    Main
*/

.landing {
    height: 100svh;
    background: radial-gradient(circle 250px at 25% 50%, #00ff00 0%, #00ff0000 100%);
    /* 29abe2, c69c6d */
}

.portrait {
    position: absolute;
    width: 50%;
    right: -300px;
}

.about {
    position: absolute;
    top: 40%;
    width: 50%;
    margin: 0 10%;

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 28px;
        font-weight: 400;
    }
}

.portfolio {
    background: radial-gradient(circle 250px at 75% 50%, #29abe2 0%, #29abe200 100%);
}

.contact {
    background: radial-gradient(circle 250px at 50% 50%, #c69c6d 0%, #c69c6d00 100%);
}

section {
    min-height: 500px;
}

.txt {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    line-height: 14px;
    /* min-width: 12px; */
    font-weight: 500;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.txt:hover {
    font-size: 18px;
    line-height: 18px;
}
/* 
    Footer 
*/

.contact {
    height: 80px;
}

.contact li {
    width: 26px;
    height: 26px;
    text-align: center;
    list-style: none;
    border-radius: 50%;
    border: 1px solid #ededed;
}

.contact i {
    font-size: 14px;
}

.copyright {
    height: 80px;
    line-height: 80px;
    text-align: right;
}
