@charset "utf-8";

body {
    font-family: 'Poppins', 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    background-color: #fdfcf5;
    color: #1c1a10;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* 
    Utility classes 
*/

.flex {
    display: flex;
}

.flex-sb {
    justify-content: space-between;
}

.flex-center {
    align-items: center;
}

.grid {
    display: grid;
}

.grid-center {
    place-items: center;
}

.gap-50 {
    gap: 50px;
}

.gap-20 {
    gap: 20px;
}

.gap-10 {
    gap: 10px;
}

/* 
    Header 
*/

header {
    height: 60px;
    width: 100%;
    position: absolute;
    z-index: 10;
    padding: 10px 0;
}

h1 {
    font-size: 26px;
    font-weight: 500;
    line-height: 60px;
}

nav ul li {
    line-height: 60px;
    list-style: none;
    cursor: default;
}

nav ul li a {
    color: #1c1a10;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
    color: #000;
}

/* 
    Main
*/

.landing {
    height: 100svh;
    background: radial-gradient(circle 250px at 25% 50%, #00ff00 0%, #00ff0000 100%);
    /* 29abe2, c69c6d */

    .container {
        height: 100%;
    }
}

.portrait {
    position: absolute;
    width: 50%;
    right: -300px;
    display: none;
}

.about {

    position: absolute;
    bottom: 30%;
    width: 50%;

    h1 {
        font-size: 80px;
        font-weight: 500;
    }

    p {
        margin-top: 20px;
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
    }
}

.portfolio {
    background: radial-gradient(circle 150px at 75% 50%, #29abe2 0%, #29abe200 100%);
    margin: 80px auto;

    >div {
        width: 55%;
    }

    .project {
        padding: 50px 0;

        + .project {
            border-top: 1px solid #1c1a10;
        }

        img {
            border: 1px solid #efefef;
            width: 350px;
            height: 185px;
        }

        h4 {
            text-align: left;
        }

        p {
            width: 280px;
            font-size: 14px;
        }

        .project-info {
            display: flex;
            flex-direction: column;
            align-items:flex-start;
        }
    }



    >div:nth-child(2) {
        width: 45%;
        padding: 0 50px;

        h2 {
            font-size: 80px;
            font-weight: 500;
        }

        p {
            font-weight: 400;
        }
    }


}

.contact {
    background: radial-gradient(circle 150px at 50% 50%, #c69c6d 0%, #c69c6d00 100%);
    text-align: center;
    padding: 50px 0;

    h2 {
        font-size: 80px;
        font-weight: 500;
    }

    p {
        font-weight: 400;
    }

    .social {
        height: 80px;
    }
    
    .social li {
        text-align: center;
        list-style: none;
        display: inline-block;
        margin: 20px 20px;
    }
    
    .social i {
        color: #1c1a10;
        font-size: 36px;
    }

}

/* section {
    min-height: 500px;
} */

.txt {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    line-height: 14px;
    /* min-width: 12px; */
    font-weight: 500;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.txt:hover {
    font-size: 18px;
    line-height: 18px;
}

/* 
    Footer 
*/

footer {
    padding: 30px;

    > div {
        border-top: 1px solid #1c1a10;
    }
}

.copyright {
    height: 80px;
    line-height: 80px;
    text-align: right;
}